.wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    border-radius: 0.7em;
}

.buttonDel, .buttonAdd {
    height: 2em;
    width: 2em;
    margin: 1em;
    font-size: 1em;
    border-radius: 1em;
    font-weight: 900;
    margin: 1em;
    background-color: #9d9d9d;
    visibility: hidden;
}

.tracks {
    padding-top: 0.6em;
    max-width: 20em;
    color: #f2f2f2;
}

.wrapper:hover {
    background-color: #232323;
}

.wrapper:hover .buttonDel {
    visibility: visible;
}

.wrapper:hover .buttonAdd {
    visibility: visible;
}

.buttonDel:hover {
    background-color: #ed1d30;
}

.buttonAdd:hover {
    background-color: #24bb59;
}

.buttonDel:active{
    background-color: #8d1832;
}

.buttonAdd:active {
    background-color: #146b33;
}