@font-face {
    font-family: 'logo font';
    src: url('../../../public/fonts/Gotham-Bold.otf');
}

@font-face {
    font-family: 'Spotify font';
    src: url('../../../public/fonts/GothamBook.ttf');
}

button {
    border-style: none;
}

.wrapper {
    text-align: center;
    display: flexbox;
}

.wrapper2 {
    display: flex;
    min-height: 50vh;
    margin-bottom: 1em;
}

.results {
    width: 50%;
    text-align: left;
    background-color: #1a1a1a;
    padding: 1em;
    border-radius: 1em;
    margin: 0.5em;
}

.header {
    color: #9d9d9d;
    padding: 1em;
    padding-left: 0.3em;
    font-size: 1.6em;
    font-family: 'Spotify font';
}

.playlist {
    width: 50%;
    text-align: left;
    background-color: #1a1a1a;
    padding: 1em;
    border-radius: 1em;
    margin: 0.5em;
}

.searchWrapper {
    background-color: #1a1a1a;
    border-radius: 1em;
    margin: 0.5em;
}

.searchWrapper h1 {
    font-size: 7em;
    color: #24bb59;
    padding: 1em;
    padding-bottom: 0.5em;
    font-family: 'logo font';
}