@font-face {
    font-family: 'search font';
    src: url(../../../public/fonts/Gotham-Light.otf);
}

@font-face {
    font-family: 'save button font';
    src: url(../../../public/fonts/Gotham-Bold.otf);
}

.input {
    color: #9d9d9d;
    border-style: none; 
    background: transparent; 
    outline: none;
    padding: 1em;
    padding-left: 0.3em;
    font-size: 1.5em;
    margin-bottom: 0.1em;
    font-family: 'search font';
    padding-bottom: 1.07em;
}

.buttonWrapper {
    margin: 5em;
    text-align: center;
}

.buttonWrapper button{
    background-color: #24bb59;
    padding: 0.5em;
    border-radius: 3em;
    font-family: 'save button font';
    font-size: 1.5em;
    height: 3em;
    width: 10em;
    color: #f2f2f2;
}

.buttonWrapper button:hover{
    background-color: #146b33;
}

.buttonWrapper button:active{
    border: solid 2px black;
}
