@font-face {
    font-family: 'Spotify font';
    src: url('../public/fonts/GothamBook.ttf');
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Spotify font';
}

body {
    background-color: black;
    display: flex;
}

#display {
    width: 80em;
    margin: 0 auto;
    margin-top: 1em;
}